{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
    <div class="jumbotron full-height">
        <div class="container-fluid">
            {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                {{utils.flashed_messages(messages)}}
            {%- endif %}
            {%- endwith %}
            <img src="/static/logo.png" width="80%" height="20%" class="center-block img-fluid" alt="Foundries.io">
            <div class="row">
                <div class="col-xs-6 text-center extra-margin">
                    <h2>BLE Candy Dispenser</h2>
                    <p class="lead">
                        Control a Zephyr LWM2M candy dispenser using BLE and 6lowpan.
                    </p>
                    <form action="/dispense/" method="post">
                        <button class="center-block btn btn-lg btn-primary" name="dispenseBtn" type="submit">DISPENSE CANDY</button>
                    </form>
                </div>
                <div class="col-xs-6 text-center extra-margin">
                    <h2>BLE Light Control</h2>
                    <p class="lead">
                        Control a Zephyr LWM2M light using BLE and 6lowpan.
                    </p>
                    <form action="/toggle/" method="post">
                        <button class="center-block btn btn-lg btn-info" name="toggleBtn" type="submit">TOGGLE LIGHT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}
